mixin top-nav(data)
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			ul.menu
				li.menu-item
					a.menu-link(href="#main")= data.link1
				li.menu-item
					a.menu-link(href="#sAbout")= data.link2
				li.menu-item
					a.menu-link(href="#sOnline")= data.link3
				li.menu-item
					a.menu-link(href="#sMedia")= data.link5
				li.menu-item
					a.menu-link(href="#sGreeting")= data.link4
				li.menu-item
					a.menu-link(href="#map")= data.link6
				li.menu-item.menu-item-has-children
					
					block
	// end top-nav